<template name="header">
  <paper-drawer-panel>
    <!--Drawer Area-->
    <paper-header-panel mode="waterfall" drawer>
      <!--Drawer Area Title-->
      <paper-toolbar>
        <paper-icon-button icon="arrow-back" on-tap="closeMenuAction"></paper-icon-button>
        <div class="title">Menu</div>
      </paper-toolbar>

      <!--Drawer Area Content-->
      <div> Drawer content... </div>
    </paper-header-panel>

    <!--Main Area-->
    <paper-header-panel mode="waterfall-tall" main>
      <paper-toolbar>
        <paper-icon-button icon="menu" on-tap="menuAction"></paper-icon-button>
        <div class="title">Rodrigo Legendre</div>
        <paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>
      </paper-toolbar>
      {{> Template.dynamic template=content}}
    </paper-header-panel>
  </paper-drawer-panel>
</template>