<template name="header">
  <paper-toolbar>
    <!--@TODO: Add round miniature photo here (left of title).-->

    <div class="title">Rodrigo Legendre</div>

    <!--@TODO: Hide on small screens-->
    <paper-tabs id="nav-tabs" selected="0">
      <paper-tab flex center-center><a href="/">Home</a></paper-tab>
      <paper-tab><a href="/about">About</a></paper-tab>
      <paper-tab><a href="#">TAB 3</a></paper-tab>
    </paper-tabs>

    <!--
    @TODO:
    - Only display on small screens or if nav items can't fit the navbar.
    - Add a space to separate from other nav-bar stuff to prevent miss-input.
    -->
    <paper-icon-button icon="menu" on-tap="navMenuAction"></paper-icon-button>
  </paper-toolbar>
</template>